!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to VinSol, #{@candidate.name}
    %p
      You have successfully registered to VinSol,
      %br/
    %p
      To confirm to the walk-in, just follow this link: #{@url}.
    %p
      Thanks for registering and have a great day!
