<!DOCTYPE html> 
<html> 
<head> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body> 
<h1>Welcome to VinSol, <%= @candidate.name %></h1> 
<p> 
You have successfully registered to VinSol,<br/> 
</p> 
<p> 
To confirm to the walk-in, just follow this link: <%= @url %>. 
</p> 
<p>Thanks for registering and have a great day!</p> 
</body> 
</html>