* {
  margin: 0px;
  padding: 0px; }

h1 {
  display: inline;
  text-align: center;
  padding: 20px;
  margin: 200px;
  color: maroon;
  font-style: "Comic Sans"; }

#banner {
  background-color: black;
  height: 150px;
  text-align: center;
  color: maroon;
  font: small-caps 80px/90px "Times New Roman", serif; }
  #banner img {
    float: left;
    height: 150px; }

.current_menu {
  background-color: white;
  color: blue; }

.but_div {
  display: inline;
  width: 100px;
  height: 60px;
  margin-left: 1100px; }

#event_submit {
  width: 130px;
  height: 66px;
  border: 0px solid white;
  background: url(create1.jpg); }

/*admitcard styling */
#admitcard {
  background-color: black;
  height: 80px;
  text-align: center;
  color: maroon;
  font: small-caps 80px/90px "Times New Roman", serif; }
  #admitcard img {
    float: left;
    height: 80px;
    display: inline; }

#admitcard_body {
  font: small-caps 20px/30px "Times New Roman", serif;
  margin-top:30px;
  color: maroon;
  padding: auto; }
  
#triple_break {
  margin-bottom:50px;
}

#double_break {
  margin-bottom:30px;
}

#single_break {
  margin-bottom:5px;
}

/*sign_in page */
#ad_signin {
  border: 3px solid maroon;
  margin-left: 33%;
  margin-top: 3%;
  width: 450px;
  height: 350px;
  padding: 10px;
  padding-left: 15px;
  z-index: 5;
  background-color: white;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px; }

#signin_head {
  color: maroon;
  font-size: 50px; }

#signin_div label {
  color: maroon;
  font-size: 20px; }

#inv {
  margin-left: 20px;
  font-size: 30px; }

#admin_submit {
  margin-top: 10px;
  color: black;
  font-size: 1em;
  width: 100px;
  height: 54px;
  border: 0px solid white;
  background: url(loginbutton.png); }

#candidate_submit {
  margin-top: 10px;
  float: right;
  color: black;
  font-size: 1em;
  width: 100px;
  height: 50px;
  border: 0px solid white;
  background: url(create_can.jpg); }

#signin_img {
  background: url(key.jpg);
  width: 150px;
  height: 150px;
  float: right;
  margin-right: 20px;
  margin-top: 0px; }

/*invitation */
#invite {
  float: left;
  margin-left: 10px;
  font-size: 20px; }

#ad_signout {
  float: right;
  margin-right: 10px;
  font-size: 20px; }

#batch_div {
  float: left;
  display: inline;
  margin-left: 15px; }

#details {
  float: right;
  font-size: 25px; }

#batch_element {
  float: left; }

/*Styling for map */
#map iframe{
  display: inline; 
  width:525px;
  height:220px}

/* Styling for event form */
#main_event {
  border: 5px maroon outset;
  margin: 5%;
  padding: 20px; }

#even_field {
  display: inline;
  float: right;
  margin-right: 500px;
  margin-bottom: 0px;
  font-size: 20px; }

#odd_field {
  display: inline;
  font-size: 20px;
 }

#fills {
  display: inline;
  float: right;
  margin-right: 80px; }

/*style for batches */
#main_batch {
  display: inline;
  float: right;
  border: 5px green outset;
  width: 590px;
  padding-left: 10px;
  margin-left:63px; }

#buttons {
  margin-top: 50px;
  display: inline;
  float: left; }

/*Style for normal display in admin panel */
#heads {
  margin-left: 20px;
  color: maroon;
  font-style: Times;
  font-weight: bold; }

#links {
  margin-left: 20px;
  font-size: 20px; }

#event_list {
  margin-left: 30px;
  font-size: 15px;
  border-bottom: 2px black dashed; }

#link_list {
  display: inline;
  float: right; }

#line {
  border-bottom: 2px black inset;
  margin-top:20px;
  margin-bottom:20px; }

/*candidate form styling */
#main_candidate {
  border: 5px maroon outset;
  margin: auto;
  margin-top: 0px;
  padding: 50px;
  width: 800px; }

#head {
  color: maroon;
  margin-left: 550px;
  font-size: 30px;
  font-weight: bold; }

#even_f {
  display: inline;
  float: right;
  margin-bottom: 0px;
  font-size: 20px; }

#ht_even_f{
  display: inline;
  float: right;
  margin-bottom: 0px;
  font-size: 20px;
  margin-left:300px;
}

#terms{
  margin-top:50px;
}

#odd_f {
  font-size: 20px; }

/*display table styles */

#candidate_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: auto;
  border-collapse: collapse; }
  #candidate_table td {
    font-size: 1em;
    border: 1px solid #660033;
    padding: 3px 7px 2px 7px; }
  #candidate_table th {
    font-size: 1em;
    border: 1px solid #660033;
    padding: 3px 7px 2px 7px;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #990033;
    color: white; }

#search {
  margin-left: 550px;
  height: 30px; }

/*walkin table style */
#walkin_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse; }
  #walkin_table td {
    font-size: 1.1em;
    padding: 3px 7px 2px 7px; }
  #walkin_table th {
    font-size: 1.1em;
    padding: 3px 7px 2px 7px;
    font-size: 1.3em;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 4px;
    background-color: #990033;
    color: white; }

#walkin {
  border: 8px outset maroon;
  width: 800px;
  margin: auto; }

#error {
  margin-left: 550px;
  color: red; }

#signin_notice {
  display: inline;
  color: red;
  margin-left: 600px;
  font-size: 1.5em; }

#heading {
  margin-top: 10px;
  color: maroon;
  font-size: 1.6em; }

#heading_a {
  color: maroon;
  text-align: center;
  font-size: 2.3em; }

#register {
  display: inline;
  float: right;
  margin-top: 25px; }

#register1 {
  border: 6px outset maroon;
  width: 600px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  text-align:center }
  
#register_msg{
  color:maroon;
  text-align:center;
  margin-top:20px;
  font-size:40px;
}

#registration{
  color:maroon;
}
  
#attendance {
  margin-left:480px;
  color:maroon;
  font-size: 1.2em;
}

#head_margin{
  margin-left:350px;
}

#form_box_events{
  margin-left:50px;
  border:3px;
  font-size:20px;
}

#special {
  margin-bottom:35px;
}

#drop_box{
  display:inline;
  float:right;
  margin-right:355px;
  font-size:20px;
}

#batch_label{
  float:right;
  margin-right:540px;
  font-size:20px;
}

#event_event_date{
  margin-bottom:150px;
}

#name_odd_field{
  display: inline;
  font-size: 20px;
  margin-right:90px;
}

#confirm_mail{
  color:maroon;
  text-align:center;
  margin-top:20px;
  font-size:40px;
}

#new_head{
  margin:auto;
  font-size:1.17em;
}

#new_head_conf{
  display:inline;
  margin-left:41%;
  font-size:1.17em;
}

#no_registration{
  text-align:center;
  font-size:1.17em;
  color:red;
  margin-top:40px;
}

#att_button{
  margin-left:31%;
  color:maroon;
  font-size:1.17em;
}