* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color : maroon;
  font-style: "Comic Sans";
  text-decoration:underline;
}

#banner {
  background-color: black;
  height: 150px;
  text-align: center;
  color: maroon;
  margin: 0px;
  padding: 0px;
  font: small-caps 80px/80px "Times New Roman", serif;
}

#banner img {
  float: left;
  height: 150px;
}

#ad_signin {
  border: 2px outset black;
  margin-left: 40%;
  width :300px;
  height:200px;
  margin-top: 10%;
  padding: 10px;
  padding-left:30px;
}

#invite {
  float: left;
  margin-left:10px;
  font-size:20px;
}

#ad_signout {
  float:right;
  margin-right:10px;
  font-size:20px;
}

#batch_div {
  float: left;
  display: inline;
  margin-left: 15px;
}

#details {
  font-color : red;
  float: right;
  display:inline;
  margin-top: 0px;
  font-size: 20px;
}
#batch_element {
  float :left;
}

/*Styling for map*/

#map {
  display: inline;
}

/* Styling for event form */

#main_event {
  border: 5px maroon outset;
  margin : 45px;
  padding : 20px;
}

#even_field {
  display:inline;
  margin-left : 30px;
  font-size : 20px;
}

#odd_field {
  display:inline;
  float:left;
  margin-left : 300px;
  font-size : 20px;
}

#fills {
  display:inline;
  float:right;
  margin-right: 300px;
}

/*style for batches */

#main_batch {
  border: 5px green outset;
  margin:20px;
  padding : 40px;
  width : 600px;
  margin-left: 300px;
  
}

#buttons {
  margin-right:270px;
  display:inline;
  float:right;
}