<% if notice %>
  <p id='notice'><%= notice%></p>
<% end %>

<script>

  function search_num() {
    if(!($("#search").val() == "")) {
      if(!($("#search").val().match(/^\d+$/))) {
        document.getElementById("error").innerHTML = "Please Enter A Number!"
        return false
      }
    } else {
      document.getElementById("error").innerHTML = "Search field cannot be empty!"
      return false
    }
    
     $.ajax({
       url : "<%= find_search_data_path %>",
       dataType : 'script',
       type : 'get',
       data : "roll_num="+$("#search").attr("value")
     });
   }
</script>

<h2 style="margin-left:100px">CANDIDATE INFORMATION : Please Enter Roll Number Below</h2><br />
<%= text_field_tag('search')%>
<input type="button", value="SEARCH", onclick="search_num();" ><br />
<span class = "error" id = "error"></span>

<div id="result"> WELCOME </div>

<%= link_to 'Back To Main', root_path %>
