<div id="heading">WaitListed candidates</div>

<div>
	<table id="candidate_table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Experience</th>
			<th>Current State</th>
		</tr>
    <% @events_candidates.each do |e| %>
		<div id="mark">
			<tr>
				<td><%= e.candidate.id %></td>
				<td><%= e.candidate.name %></td>
				<td><%= e.candidate.exp %></td>
				<td><%= e.candidate.current_state %></td>
			</tr>
		</div>
		<% end %>
	</table>
</div>