<!DOCTYPE html> 
<html> 
<head> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body> 
<h1>The Following Candidate has Cancelled Registration</h1> 
<p> NAME : <%= @events_candidate.candidate.name %></p> 
<br/> 
<p> CONTACT : <%= @events_candidate.candidate.mobile_number %></p> 
<br />
<p> EXPERIENCE : <%= @events_candidate.candidate.exp %></p> 
<br />
<p> FOR EVENT : <%= @events_candidate.event.name %></p>

<p>Thanks YOU</p> 
</body> 
</html>