View Candidates:
= link_to 'Starred List', starred_candidates_path

#search
  %b
    All Registered Candidates
  %br
  SEARCH PANEL:
  \#{select_tag('category', options_from_collection_for_select(Category.all, :id, :name), :include_blank => "- Select -", :onChange => "s_category('all');")}
%br
#search_category
  = render 'search_category'