#search
  SEARCH PANEL:
  \#{select_tag('category', options_for_select(fetch_category), :include_blank => "- Select -", :onChange => "s_category('all');")}
#search_category
  = render 'search_category'