- if (params[:page] == 'index')
  $('#search_category').html("#{escape_javascript (render :partial => 'search_category')}").paginate();
- else
  $('#search_star_category').html("#{escape_javascript (render :partial => 'search_star_category')}");