- if (params[:page] == 'star')
  $('#search_category').html("#{escape_javascript (render :partial => 'search_star_category')}");
- else
  $('#search_category').html("#{escape_javascript (render :partial => 'search_category')}").paginate();