%br/
%br/
- if(params[:type] == 'starred')
  = render 'starred'
- elsif(params[:event_id] && params[:type] == 'waitlist_candidates')
  = render 'waitlist'
- elsif(params[:event_id] && params[:type] == 'confirmed_candidates')
  = render 'confirmed'
- else
  = render 'candidates'
