%br/
%br/
- if(params[:type] == 'starred')
  = render 'starred'
- elsif(params[:event_id] && params[:type] == 'waitlist')
  = render 'waitlist'
- elsif(params[:event_id] && params[:type] == 'confirmed')
  = render 'confirmed'
- else
  = render 'candidates'
