%br/
%br/
- if(params[:type] == 'starred')
  = render 'candidates_starred'
- elsif(params[:event_id] && params[:type] == 'waitlist_candidates')
  = render 'candidates_waitlist'
- elsif(params[:event_id] && params[:type] == 'confirmed_candidates')
  = render 'candidates_confirmed'
- else
  = render 'candidates_all'
