<%= link_to 'HOME', root_path %> >>
<%= link_to 'WALK-INS', walkins_index_path %> >>
<span style="color:maroon"><u>REGISTRATION</u></span>
<p style="color:maroon;text-align:center;margin-top:20px;font-size:40px">Registration Successful</h1>
<div id="register" style="text-align:center">
  <h3>Thank You <%= @candidate.name %>, </h3><br />
  <h4>We are happy to inform you the you have been successfully registered.</h4><br />
  <h4>Please check your mail id <u><%= @candidate.email %></u> to confirm your candidature.</h4>
</div>