= link_to 'HOME', root_path
>>
\#{link_to 'WALK-INS', walkins_path}
>>
%span#registration
  %u
    REGISTRATION
%p#register_msg
  Registration Successful
  #register1
    %h3
      Thank You #{@candidate.name},
    %br/
    %h4
      We are happy to inform you the you have been successfully registered.
    %br/
    %h4
      Please check your mail id
      %u
        = @candidate.email
      to confirm your candidature.
