%h2#head_margin
  CANDIDATE INFORMATION : Please Enter Roll Number Below
%br/
= text_field_tag('search')
<input type="button", value="SEARCH", onclick="search_num(document.getElementById('search').value);" >
%br/
%span#error.error
#result
  WELCOME
= link_to 'Back To Main', root_path
